$background-color = #fff
$background-color-l = #ccc
$background-color-ll = #eee
$background-theme = #eecc22
$background-button = #39f
$background-input = #ccc

$color-text-l = #999
$color-text-ll = #ccc
$color-text = #eee
$color-text-forget = #22e
$color-text-hover = #33a
$color-text-warn = #c22
$color-text-theme = #6a7

$font-large = 50px
$font-mid = 39px
$font-mid-I = 30px
$font-mid-II = 35px
$font-normal-I = 19px
$font-normal-II = 15px
$font-normal-III = 17px
$font-small = 13px
